# App
NODE_ENV=development
PORT=4000
API_PREFIX=api
CORS_ORIGIN=http://localhost:4317

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=nyumba
DB_PASSWORD=nyumba
DB_NAME=nyumba
DB_LOGGING=false

# Auth (Sprint 2)
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=900s
JWT_REFRESH_TTL=7d
